[Unit]
Description=ScrewDrive TouchDesk UI (PyQt5 EGLFS)
After=screwdrive-api.service
Requires=screwdrive-api.service

[Service]
ExecStartPre=/opt/splash/clear-splash.sh
User=root
WorkingDirectory=/home/user/3SD-SF-ScrewFeed/screwdrive
Environment=QT_QPA_PLATFORM=eglfs
Environment=QT_QPA_EGLFS_INTEGRATION=eglfs_kms
Environment=QT_QPA_EGLFS_KMS_CONFIG=/home/user/3SD-SF-ScrewFeed/screwdrive/resources/kms.json
ExecStart=/usr/bin/python3 /home/user/3SD-SF-ScrewFeed/screwdrive/ui/touchdesk.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
